<center>
    <div class="post">
        <h3>Página de acesso para usuários administradores</h3>
        <hr>
        <div class="post-body">
            <a href="/admin/categorias"><button class="btn btn-success mt-5" >Categoria</button></a>
            <hr>
             <a href="/admin/postagens"><button class="btn btn-success mt-5">Postagem</button></a>
        </div>
    </div>
</center>
