<body class="background">

<div class="card-login">
    <h4 class="titulo-login">Login:</h4>
    <div class="card-body">
        <form action="/usuarios/login" method="POST">
            <p><label for="email">Email:</label>
            <input type="email" name="email" class="form-control" required></p>
            <label for="senha">Senha: </label>
            <input type="password" name="senha" class="form-control" required>
            <button class="btn btn-success mt-4" type="submit">Entrar</button>
            <hr>
              <a href="/usuarios/registro">Não possui cadastro? Cadastra-se!</a>
        </form>

    </div>
</div>
</body>