<body class="background">
    {{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}

    {{/each}}

    <div class="card">
        <h4 class="titulo-cadastro">Crie sua conta: </h4>
        <div class="card-body">
            <form action="" method="POST">
                <p><label for="nome">Nome: </label>
                <input type="text" name="nome" class="form-control" required></p>
                <p<label for="cpf">CPF(sem pontuação): </label>
                <input type="text" name="cpf" class="form-control" required></p>
                <p<label for="email">Email: </label>
                <input type="email" name="email" class="form-control" required></p>
               <p<label for="senha">Senha: </label>
                <input type="password" name="senha" class="form-control" required></p>
                <label for="senha2">Repita sua senha: </label>
                <input type="password" name="senha2" class="form-control" required>

                <button type="submit" class="btn btn-success mt-4">Criar conta</button>
            </form>
        </div>
    </div>
</body>